/* CUSTOM WORDPRESS ADMIN OVERRIDES */

/* --------------------------------------------------------------
VARIABLES
-------------------------------------------------------------- */

@blue: #0154B6;
@gray: #f7f7f7;
@lightgray: #a5a5a5;
@black: #000000;
@white: #FFFFFF;

/* --------------------------------------------------------------
CUSTOM LOGIN OVERRIDE
-------------------------------------------------------------- */

.toplevel_page_pgrowers_custom_options {
    & .custom-clearfix {
        clear: both;
        float: none;
    }

    & #wpcontent {
        padding-left: 0;

        & .pgrowers_custom_options-header {
            background: #808080;
            border-bottom: 1px solid black;
            padding: 20px;

            & .logo-header {
                max-height: 90px;
                float: right;
            }

            & h1 {
                float: left;
                margin-top: 2.5%;
                color: @white;
            }
        }

        & .pgrowers_custom_options-content {
            padding: 5px 20px;
        }
    }
}
