/* --------------------------------------------------------------
/* MAIN LESS MIXINS AND FUNCTIONS - LESSHAT
-------------------------------------------------------------- */
@import 'less/lesshat.less';
/* --------------------------------------------------------------
/* WordPress Core
-------------------------------------------------------------- */
@import 'less/wordpress-core.less';
/* --------------------------------------------------------------
/* Shortcodes Ultimate Custom - ACTIVATE ONLY IF USED
-------------------------------------------------------------- */
//@import 'less/shortcodes-ultimate-custom.less';
/* --------------------------------------------------------------
Variables
-------------------------------------------------------------- */
/* Pixels */
@1: 1px;
@2: 2px;
@3: 3px;
@4: 4px;
@5: 5px;
@10: (@5 + @5);
@15: (@10 + @5);
@20: (@10 + @10);
@25: (@20 + @5);
@30: (@15 + @15);
/* Colors */
@black: #000000;
@gray3: #333333;
@gray6: #666666;
@gray9: #999999;
@grayc: #cccccc;
@grayf0: #f0f0f0;
@white: #ffffff;
@blue: #2B7BCB;
@orange: #FE5723;
@green: #a4b23a;
@darkgreen: #3d441f;

/* Theme commons
-------------------------------------------------------------- */
.loading:empty {
    background: url('../images/common/loading.gif') no-repeat center center;
    min-height: 32px;
    min-width: 32px;
}

@import 'less/layouts.less';

/* --------------------------------------------------------------
Body default
-------------------------------------------------------------- */
html,
body {
    height: 100%;
}

body {
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}

a {
    .transition(all .2s ease-in-out);

    &:hover {
        text-decoration: none;
    }
}

.container-menu {
    max-width: 1280px;
}


/* --------------------------------------------------------------
1.- HEADER
-------------------------------------------------------------- */
.the-header {
    background: @white;
    padding: 1.5rem 0;

    & .navbar-brand {
        margin-right: 25px;
    }

    & .navbar {
        background: none transparent !important;
        padding: 0;

        & .nav-link {
            text-transform: uppercase;
            font-weight: 600;
            color: @black  !important;
            font-size: .9rem;
        }
    }

    & .img-navbar-brand {
        max-height: 40px;
        margin-top: -15px;
    }

    & .custom-nav-social {
        margin-left: 2rem;

        & li {
            & a {
                padding: 10px;
            }
        }
    }
}

.floating-nav {
    position: fixed;
    top: 0;
    right: 0;
    bottom: auto;
    left: 0;
    padding: 0;
    z-index: 999;
    .transform(translate3d(0, 0, 0));
    .transition(all .2s ease-in-out);

    & .img-logo {
        max-height: 90px;
    }
}

.floating-nav__inner {
    height: auto;
    width: 100%;
    padding: 0 0;
    background: #fff;
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);

    & .the-header {
        padding-top: 10px;
    }

    & .the-navbar {
        margin-top: 10px;
    }
}

.floating-nav.is-hidden {
    .transform(translate3d(0, -210px, 0));
}

/* --------------------------------------------------------------
2.- FOOTER
-------------------------------------------------------------- */
.the-footer {
    background: url(../images/bg-footer.png);
    background-position: top center;
    background-size: cover;
    color: @white;
}

.footer-height-controller {
    min-height: 90vh;
}

.footer-item {
    & .footer-social {
        text-align: center;
        font-size: 2rem;
        padding: 1rem;
        margin-bottom: 2rem;

        & hr {
            margin-top: 1rem;
            margin-bottom: 3rem;
            border: 0;
            border-top: 1px solid rgb(255, 255, 255);
            max-width: 10%;
        }

        & .fa {
            padding: 0 1rem;
        }

        & h6 {
            font-size: 1rem;
            margin-bottom: 1rem;
        }
    }

    & img {
        margin-bottom: 10px;
    }

    & h3 {
        font-family: 'Domine', serif;
        font-weight: 700;
    }

    & ul {
        list-style: none;
        padding-left: 0;
    }
}

.footer-copyright {
    padding: 1rem;
    padding-bottom: 3rem;

    & h6 {
        font-size: .9rem;
        margin-bottom: .5rem;
        font-family: 'Domine', serif;
    }

    & h5 {
        font-family: 'Domine', serif;
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: 300;
    }
}

.form-contact {
    max-width: 250px;
    display: block;
    margin-left: auto;
    margin-right: 0;

    & .form-contact-item {

        & input,
        textarea {
            width: 100%;
            color: @white;
            background: none;
            border: 2px solid @white;
            box-shadow: none;
            padding: 10px;
            margin-bottom: .5rem;
            border-radius: 5px;
            .placeholder(@white);
        }
    }

    & .form-contact-item-submit {
        & input {
            background: @orange;
            width: auto;
            margin-left: auto;
            margin-right: 0;
            display: block;
            border: 0;
            padding: 1rem 3rem;
        }
    }
}

/* --------------------------------------------------------------
3.- HOME
-------------------------------------------------------------- */

.slider-container {
    position: relative;

    & .owl-dots {
        position: absolute;
        transform: rotate(-90deg);
        top: 50%;
        right: -1.8rem;
        line-height: 0;
        margin: 0 !important;

        & .owl-dot {
            & span {
                width: 40px !important;
                height: 8px !important;
                line-height: 0 !important;
                margin: 0 4px !important;
                background: #D6D6D6;
                border-radius: 0 !important;
            }
        }

        & .active {
            & span {
                background: @orange  !important;
            }
        }


    }
}

/* SLIDES */
.slide-item {
    text-align: center;
    color: @white;
    background-size: cover !important;
    background-position: center center !important;

    & .slide-row {
        min-height: 75vh;
    }

    & .slide-content {
        font-family: 'Domine', serif;
        font-size: 3rem;
        font-weight: 800;
        line-height: 3.5rem;
    }

    & .btn-slide {
        font-family: 'Montserrat', sans-serif;
        background: @orange;
        color: @white;
        text-shadow: 0 0 1px @white;
        padding: 1.3rem 4rem;
        border-radius: 5px;
        text-transform: uppercase;
        font-size: 1.3rem;
        letter-spacing: .3px;
        font-weight: 700;
        margin-top: 2.5rem;
        .transition(all .3s ease-in-out);

        &:hover {
            background: purple;
        }
    }

}

/* ABOUT */
.home-about {
    padding: 5rem 0;

    & .home-about-item {
        & .home-about-item-img {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 1.2rem;
        }

        & .home-about-item-content {
            font-size: 1.1rem;
            text-align: center;

            p:first-of-type {
                padding: 0 3rem;
            }

            & h2 {
                font-size: 1.6rem;
                margin-top: 2.5rem;
                margin-bottom: 1.5rem;
                font-weight: 700;
            }

            & a {
                background: @orange;
                color: @white;
                padding: 1.3rem 2rem;
                min-width: 15rem;
                margin-top: .5rem;
                display: inline-block;
                font-weight: 700;
                border-radius: 4px;
                text-transform: uppercase;
                .transition(all .3s ease-in-out);

                &:hover {
                    background: purple;
                }
            }
        }
    }
}

.about-icon {
    text-align: center;
    padding: 1rem;

    & .about-icon-item-img {
        min-height: 95px;
        vertical-align: middle;
    }

    & h3 {
        margin-top: .5rem;
        font-size: 1.2rem;
        font-weight: 600;
    }
}

.shop-category-item {
    margin-bottom: 4rem;

    & .shop-category-item-wrapper {
        background: @white;
        background-size: cover !important;
        background-position: center center !important;
        color: @white;
        min-height: 35vh;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        .transition(all .3s ease-in-out);

        &:hover {
            background-size: 105% !important;
        }


        & .btn-shop-category {
            background: @white;
            color: @black;
            padding: 1rem 4rem;
            font-weight: 700;
            min-width: 15rem;
            font-size: 1.1rem;
            text-transform: uppercase;
            .transition(all .3s ease-in-out);

            &:hover {
                background: @orange;
                color: @white;
            }
        }
    }
}

.shop-category-item-roses {
    & .shop-category-item-wrapper {
        background: url(../images/banner-roses-1.jpg);
    }
}

.shop-category-item-flowers {
    & .shop-category-item-wrapper {
        background: url(../images/banner-roses-2.jpg);
    }
}

.home-rose-special-title h2 {
    font-weight: 400;
    font-family: 'Domine', serif;
    font-size: 2.4rem;
    line-height: 3rem;
    margin-bottom: 2rem;
    color: @darkgreen;
}

.home-rose-special-item {
    text-align: center;
    padding: 0 3rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

.home-rose-special-item-last-1,
.home-rose-special-item-last-3 {
    margin-top: -10rem;
}

.home-color-guide {
    margin-top: 3rem;
    padding-top: 3rem;
    text-align: center;
    background: url(../images/bg-roses.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-size: 1.5rem;
    font-weight: 500;

    & h2 {
        font-family: 'Domine', serif;
        font-size: 2.5rem;
        font-weight: 300;
        margin-bottom: 1.5rem;
        color: @darkgreen;
    }

    & a {
        background: @orange;
        padding: 1.3rem 2rem;
        min-width: 15rem;
        margin-top: 3rem;
        font-size: 1.2rem;
        display: inline-block;
        font-weight: 700;
        color: @white;
        border-radius: 5px;
        .transition(all .3s ease-in-out);

        &:hover {
            background: purple;
        }
    }
}



.home-featured-news {
    text-align: center;
    padding: 3rem 0;
    background: url(../images/bg-roses-layer.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 100vh;

    & h2 {
        font-family: 'Domine', serif;
        font-size: 3rem;
        font-weight: 300;
        margin-bottom: 3.5rem;
        margin-top: 3rem;
        color: @darkgreen;
    }

    & .featured-news-item-container {
        border-top: 8px solid @green;
        background: @white;
        box-shadow: 0 10px 20px #d6d6d6;
        margin-bottom: 10rem;

        & .featured-news-item-wrapper {
            padding: 4rem 0;
            text-align: left;

            & .featured-news-item-content {
                font-size: 1rem;
                line-height: 1.7rem;
                font-weight: 400;

                & a {
                    border-bottom: 2px solid @black;
                    font-weight: 700;
                    margin-top: 2rem;
                    display: inline-block;
                }
            }

            & h3 {
                font-size: 2.1rem;
                font-weight: 700;
                font-family: 'Domine', serif;
                line-height: 3rem;
                margin-bottom: 2rem;
            }

            & h5 {
                font-size: 1rem;
                margin-bottom: 2.5rem;
                font-weight: 500;
                letter-spacing: .3px;
            }

            & a {
                color: @black;
            }

            & .featured-news-item-image {
                position: relative;

                & .img-featured-news {
                    position: absolute;
                    bottom: -7.5rem;
                }
            }

        }
    }

    & .btn-news {
        background: @orange;
        padding: 1rem 2rem;
        min-width: 25rem;
        margin-top: 3rem;
        display: inline-block;
        font-weight: 700;
        font-size: 1.1rem;
        color: @white;
        border-radius: 5px;
        .transition(all .3s ease-in-out);

        &:hover {
            background: purple;
        }
    }

}

.home-featured-in {
    text-align: center;
    padding: 2rem 0;

    & h2 {
        font-family: 'Domine', serif;
        font-size: 3rem;
        font-weight: 400;
        margin-bottom: 3.5rem;
        margin-top: 2rem;
        color: @darkgreen;
    }
}

/* --------------------------------------------------------------
4.- ABOUT
-------------------------------------------------------------- */
.page-section {
    padding: 3rem 0;
}

.page-banner {
    position: relative;

    & img {
        width: 100% !important;
        height: auto;
    }

    & .page-banner-title {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        text-align: center;

        & h1,
        h2 {
            font-size: 2.5rem;
            font-family: 'Domine', serif;
            font-weight: 500;
            color: @white;
        }
    }
}

.about-blockquote-section {
    text-align: center;
    padding: 2rem 3rem;

    & h1,
    h2 {
        font-size: 2.5rem;
        font-family: 'Domine', serif;
        font-weight: 500;
        padding: 0 5rem;
        color: @darkgreen;

        & strong {
            font-weight: 800;
            display: block;
        }
    }

    & blockquote {
        background: @orange;
        color: @white;
        font-family: 'Domine', serif;
        padding: 4rem 11em;
        font-size: 2.2rem;
        text-align: center;
        font-weight: 700;
        font-style: italic;
        line-height: 3.5rem;
        margin: 0;
        margin-top: 5rem;
        display: block;
    }
}

.about-section {
    & h1 {
        font-family: 'Domine', serif;
        color: @darkgreen;
    }

    & h4 {
        font-size: 1.2rem;
        font-weight: 400;
    }

    & blockquote {
        color: @black;
        font-family: 'Domine', serif;
        padding: .5rem 12em;
        font-size: 2.2rem;
        text-align: center;
        font-weight: 700;
        font-style: italic;
        line-height: 3.5rem;
        margin: 1.5em 0;
        margin-bottom: 0;
        display: block;

        & strong {
            color: @orange;
        }
    }
}

.about-core-section {
    position: relative;
    padding: 5rem 1rem;

    & .about-core-floating-section {
        position: absolute;
        top: -2vh;
        left: 8vw;
        padding: 1rem 2rem;
        background: @orange;
        color: @white;

        & .core-values-icon {
            padding: .5rem 0px;

            & .about-core-values-content {
                font-size: 1rem;
                font-weight: 500;
                line-height: 2rem;
            }
        }
    }
}

.about-page-title-section {
    & h1 {
        color: @darkgreen;
        font-size: 2.7rem;
        margin: 0 10rem;
        margin-bottom: 4rem;
        font-family: 'Domine', serif;
        line-height: 3.2rem;
    }

    & h2 {
        color: @darkgreen;
        font-size: 2.7rem;
        margin: 0 5rem;
        margin-bottom: 4rem;
        font-family: 'Domine', serif;
        line-height: 3.2rem;
    }
}

.about-item {
    text-align: center;

    & .about-item-content {
        padding: 2rem 3rem;
        font-weight: 500;
    }
}

.about-text-section {
    font-size: 1rem;
    font-weight: 500;
    line-height: 2rem;

    & h1,
    h2 {
        font-size: 2rem;
        padding: 2rem 0;
        padding-top: 0;
        font-family: 'Domine', serif;
        font-weight: 500;
        color: @darkgreen;
    }
}

.page-text-section {
    font-size: 1rem;
    font-weight: 500;
    line-height: 2rem;

    & h1,
    h2 {
        font-size: 2rem;
        padding: 2rem 0;
        font-family: 'Domine', serif;
        font-weight: 500;
        color: @darkgreen;
    }
}

.page-item {
    text-align: center;

    & .page-item-content {
        padding: 2rem 3rem;
        font-weight: 500;
    }
}


.page-separator-bar {
    border-top: 1rem solid @orange;
    margin: 2rem 0;
    margin-bottom: 4rem;
}

.page-img-overlayed {
    position: relative;
}

.page-img-overlayed-item {
    position: absolute;
    width: 100%;

    & img {
        margin: 0 auto;
        display: block;
        box-shadow: 0 0 20px rgba(80, 80, 80, 0.50);
    }
}

.page-img-overlayed-item-2 {
    right: 5%;
    width: auto;
    top: 20vh;
    z-index: 1;
}

.page-img-overlayed-item-3 {
    left: 10%;
    width: auto;
    top: 33vh;
    z-index: 2;
}

.page-img-overlayed-item-4 {
    top: 53vh;
    left: 15%;
}

.page-img-overlayed2 {
    & .page-img-overlayed-item-1 {
        width: auto;
        z-index: 1;
    }

    & .page-img-overlayed-item-2 {
        right: 0;
        width: auto !important;
        top: 30vh !important;
        z-index: 0 !important;
    }

    & .page-img-overlayed-item-3 {
        left: 0;
        width: auto;
        top: 55vh;
        z-index: 2;
    }
}

.page-section-slider {

    & .owl-nav button.owl-next,
    .owl-carousel .owl-nav button.owl-prev {
        &:focus {
            outine: 0px !important;
        }
    }

    & .owl-nav {
        position: absolute;
        top: -5rem;
        right: -25px;
        font-size: 3rem;
        width: 115px;

        & button {
            padding: 0 2rem !important;
            margin: 0 1rem !important;

            &:hover {
                color: @orange  !important;
                background: none !important;
            }

            &:focus {
                outine: 0px !important;
            }
        }

        & button:last-child span:before {
            content: ' ' !important;
            border-left: 1px solid @black  !important;
            height: 22px;
            width: 1px;
            top: 40%;
            display: inline-block;
            position: absolute;
            left: 49%;
        }
    }
}

/* --------------------------------------------------------------
5.- BLOG
-------------------------------------------------------------- */
.archive-item {
    margin-bottom: 2rem;

    & .archive-item-wrapper {
        border: 1px solid @grayf0;
        border-radius: 10px;
        overflow: hidden;
    }

    & .archive-item-picture {
        position: relative;
        margin-bottom: 1rem;

        & .archive-item-date {
            background: @orange;
            color: @white;
            display: flex;
            position: absolute;
            left: 40%;
            bottom: -25px;
            z-index: 5;
            min-width: 60px;
            min-height: 60px;
            border-radius: 100%;
            align-items: center;
            justify-content: center;
            flex-flow: column wrap;
            text-transform: uppercase;
            line-height: 1.3rem;

            & div:last-child {
                font-weight: 700;
            }
        }
    }

    & .archive-item-content {
        padding: 1.5rem;
        font-size: .9rem;
    }

    & .archive-item-readmore {
        color: @black;
        text-decoration: underline;
        font-weight: 600;
        position: relative;

        &:after {
            position: absolute;
            content: '>';
            top: -1px;
            right: -15px;
        }
    }

    & h2 {
        font-size: 1rem;
        line-height: 1.6rem;
        color: @black;
        font-weight: 700;
    }
}

.category-item-info {
    margin: 1.5rem 0;

    & a {
        background: @orange;
        color: @white;
        font-style: italic;
        font-weight: 500;
        padding: .3rem .5rem;
        border-radius: 5px;
        margin-bottom: .2rem;
        display: inline-block;
    }
}

.blog-sidebar {
    & #sidebar {
        list-style: none;
        padding-left: 0;
    }

    & .widget {
        border: 2px solid @orange;
        border-radius: 5px;
        margin-bottom: 1rem;
        padding: 1rem;
    }
}

.searchform {
    margin: 2rem 0;

    & input {
        border: 2px solid @gray9;
        border-right: 0;
    }

    & button {
        border: 2px solid @gray9;
        border-left: 0;
        padding: 4px 15px;
    }
}

.widgettitle {
    font-size: 1.1rem;
    font-weight: 700;
    margin-bottom: .6rem;
}

.widget_categories {
    & ul {
        list-style: none;
        padding-left: 0;
        text-transform: uppercase;

        & li {
            & a {
                color: @black;
            }
        }
    }
}

.single-breadcrumb-container {
    text-align: center;

    & ul {
        list-style: none;
        padding-left: 0;
        text-transform: uppercase;

        & li {
            display: inline-block;
            color: @green;

            & a {
                color: @black;
            }
        }
    }
}

.single-main-container {
    margin-bottom: 5rem;

    & .date {
        font-size: 1rem;
        margin: 2rem 0;
    }

    & h1 {
        font-size: 2rem;
        font-family: 'Domine', serif;
        font-weight: 600;
        line-height: 3rem;
        margin-bottom: 2rem;
        color: @darkgreen;
    }
}

/* --------------------------------------------------------------
6.- ROSES & FLOWERS PAGE
-------------------------------------------------------------- */
.page-roses-flowers-item {
    text-align: center;
    margin-bottom: 2rem;

    & .page-roses-flowers-content {
        padding: 0 4rem;
        font-weight: 500;
    }
}

/* --------------------------------------------------------------
6.- PRODUCT - SINGLE
-------------------------------------------------------------- */
.woocommerce-products-header {
    background: url(../images/main-roses-banner.jpg);
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: @white;
    min-height: 40vh;
    margin-bottom: 1.5rem;
    text-shadow: 0 0 20px @black;
}

.woocommerce-loop-product__title {
    text-align: center;
    color: @black  !important;
}

.woocommerce-sidebar {
    #sidebar {
        list-style: none;
        padding-left: 0;
    }
}

.woocommerce {
    & .product div.images {
        margin-bottom: 5em !important;
    }

    & .woocommerce-breadcrumb {
        text-transform: uppercase;
        color: @green  !important;
        font-weight: 600;

        & a {
            font-weight: 300 !important;
        }
    }

    & .product_title {
        font-size: 2.5rem !important;
        font-family: 'Domine', serif !important;
        color: @darkgreen  !important;
        margin-top: 1.5rem !important;
        margin-bottom: .5rem !important;
    }
}

.woocommerce-custom-product-gallery {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.btn-back {
    background: none transparent;
    border-radius: 0;
    position: relative;
    font-size: 1rem;
    text-transform: uppercase;
    padding-left: 1rem;
    margin-bottom: .3rem;
    font-weight: 600;

    &:before {
        content: '<';
        position: absolute;
        left: 0;
        top: 17%;
        font-weight: 600;

    }
}

ol.flex-control-nav {
    position: absolute;
    bottom: 0;
    right: -50vh;
}

.fact-sheet-container {
    display: block;
    width: 100%;
    clear: both;
    padding-bottom: 5rem;

    & h2 {
        font-size: 1.5rem;
        margin-left: -15px;
    }

    & .fact-sheet-item {
        padding: 1.5rem 2rem;
        padding-bottom: .5rem;


        & h3 {
            font-size: 1rem;
            text-align: center;
            font-weight: 600;
        }

        & .fact-sheet-item-content {
            text-align: left;

            & .progress {
                height: 1.3rem;
                position: relative;

                &:before {
                    content: ' ';
                    position: absolute;
                    border-right: 1px solid @white;
                    height: 1.3rem;
                    width: 1px;
                    top: 0;
                    left: 33.33%;
                }

                &:after {
                    content: ' ';
                    position: absolute;
                    border-right: 1px solid @white;
                    height: 1.3rem;
                    width: 1px;
                    top: 0;
                    left: 66.66%;
                }


                & .progress-bar {

                    background-color: @green;
                }
            }

            & label {
                display: inline-block;
                margin-bottom: 1rem;
                margin-top: .3rem;
                font-weight: 500;
            }
        }
    }

    & .fact-sheet-item-odd {
        border-top: 1px solid @grayf0;
        border-right: 1px solid @grayf0;
    }

    & .fact-sheet-item-even {
        border-top: 1px solid @grayf0;
    }

    & .fact-sheet-item-last {
        border-bottom: 1px solid @grayf0;
    }
}


.color-guide-page-section {
    text-align: center;
    font-size: 1.1rem;

    & h2 {
        font-size: 2.2rem;
        font-family: 'Domine', serif;
        color: @darkgreen;
        margin-bottom: 3rem;
    }
}

.rose-color-guide-main-desc {
    font-size: 1.1rem;

    & h1 {
        font-size: 2.2rem;
        font-family: 'Domine', serif;
        line-height: 2.8rem;
        color: @darkgreen;
        margin-bottom: 1rem;
        margin-left: 2.1rem;
    }

    & ol {
        list-style: none;

        & li {
            counter-increment: step-counter;
            position: relative;
            margin-bottom: 1.5rem;

            &::before {
                content: counter(step-counter) ".";
                position: absolute;
                font-size: 2rem;
                color: @darkgreen;
                font-weight: 500;
                top: 0;
                left: -2.2rem;
                font-family: 'Domine', serif;
            }
        }
    }

}

.rose-color-guide-quote {
    text-align: center;

    & h2 {
        font-size: 2rem;
        line-height: 3rem;
        font-weight: 300;
        font-style: italic;
        font-family: 'Domine', serif;

        & strong {
            color: @orange;
        }
    }
}

.table-custom {





    & thead th {
        vertical-align: bottom;
        border: 0;
    }

    & tbody td {
        border-bottom: 1px solid #dee2e5;

    }

    & td,
    th {
        vertical-align: middle;
        width: auto !important;
    }

    & tr {

        & td {
            padding: 0 1rem;
        }

        & td:nth-child(1) {
            min-width: 130px;
            padding: 0;

            & img:nth-child(1) {
                background: #ECECEC;
                padding: 1rem;
            }

            & img:nth-child(2) {
                margin-left: 3rem;
                max-height: 65px;
            }
        }
    }


}

.custom_mailchimp_form {
    border: 3px solid @orange;
    border-radius: 5px;
    padding: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;

    & h2 {
        font-family: 'Domine', serif;
        font-size: 1.5rem;
        color: @darkgreen;
        margin-bottom: .5rem;
    }

    & i {
        font-size: 1.5rem;
        margin: .5rem;
        margin-bottom: 1.2rem;
        color: @darkgreen;
    }

    & .custom-form-text-container {
        font-size: 1.1rem;
        font-weight: 500;
    }

    & .custom-form-control-container .form-control {
        border: 1px solid #c5c5c5;
        margin-bottom: 1rem;
        font-style: italic;
    }

    & .btn-submit {
        width: 100%;
        background: @orange;
        color: @white;
        padding: .8rem;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 1.3rem;
        .transition(all .3s ease-in-out);

        &:hover {
            background: purple !important;
        }
    }
}

.page-slider-section {

    & h2 {
        font-size: 2.5rem;
        font-weight: 400;
        font-family: 'Domine', serif;
    }
}

.product-filter-item-content {
    border: 1px solid #c5c5c5;
    text-align: center;
    padding: 2rem 5rem;
    font-size: 1.8rem;
    font-family: 'Domine';
    border-top: 15px solid @green;
    .transition(all .3s ease-in-out);

    .h2,
    h2 {
        font-size: 2.5rem;
        font-weight: 400;
        font-family: 'Domine', serif;
    }

    & .btn-filter {
        background: @orange;
        color: @white;
        padding: 1rem 2rem;
        text-transform: uppercase;
        font-weight: 600;
        margin: 1rem auto;

        &:hover {
            background: purple;
        }
    }
}

.product-filter-item {

    & .product-filter-item-wrapper {
        .transition(all .3s ease-in-out);
    }

    & .product-filter-item-img {
        overflow: hidden;

        & img {
            .transition(all .3s ease-in-out);
        }
    }

    &:hover {
        & .product-filter-item-wrapper {
            box-shadow: 0 0 10px #cbcbcb;
        }

        & .product-filter-item-img img {
            .transform(scale(1.1));
        }

        & .product-filter-item-content {
            background: #f5f5f5;
        }
    }
}

.product-slider {
    & .owl-prev {
        position: absolute;
        top: 20%;
        left: -45px;

        &:hover {
            background: none transparent !important;
            color: black !important;
        }

        &:focus {
            outline: none !important;
        }

        & span {
            font-size: 5rem;
        }
    }

    & .owl-next {
        position: absolute;
        top: 20%;
        right: -45px;

        &:hover {
            background: none transparent !important;
            color: black !important;
        }

        &:focus {
            outline: none !important;
        }

        & span {
            font-size: 5rem;
        }
    }
}

.product-slider-item {
    & h3 {
        font-size: 1.4rem;
        margin: 1rem;
        text-align: center;
    }

}

.contact-container {
    & h2 {
        font-family: 'Domine', serif;
    }
}

.contact-info-item {
    & h3 {
        font-size: 1.5rem;
        font-weight: 600;
        margin: 1.5rem 0;
    }
}

.contact-info-item-image {
    & img {
        display: block;
        margin: 0 auto;
        margin-bottom: 1.2rem;
    }
}

.contact-info-item-content a {
    color: @black;
    font-weight: 600;
}

.custom-form-container {
    margin: 1.5rem 0;
}

.custom-form-control-container {
    margin-bottom: 1rem;

    & .custom-form-control {
        height: 48px;
        border: 1px solid #8e8e8e;
        border-radius: 3px;
        padding: 1rem;
    }

    & label {
        position: relative;
        width: 100%;

        & span {
            position: absolute;
            font-style: italic;
            font-weight: 900;
            top: 5px;
            left: 10px;
            font-size: .7rem;
            .transition(all .3s ease-in-out);
        }

        & input {
            &:focus {
                & ~ span {
                    top: 1px;
                    left: 5px;
                    font-size: .4rem;

                }
            }
        }
    }

    & .custom-textarea-control {
        height: auto;
        padding: 1rem;


        &:focus {
            & ~ span {
                top: 1px;
                left: 5px;
                font-size: .4rem;

            }
        }

    }


}

.custom-form-control-radio-container {
    & label {
        width: 100%;
        margin-bottom: 0;

        & span {
            font-style: italic;
            font-weight: 600;
            font-size: .7rem;
        }
    }

    & .label-control {
        margin-right: 1rem;
        line-height: .5rem;
    }

    & .custom-radio-control {
        width: auto;
        display: inline-block;
        vertical-align: middle;
        margin-right: .5rem;
    }
}

.custom-form-control-submit {
    & .btn-submit {
        color: @white;
        background: @orange;
        display: block;
        margin: 0 auto;
        padding: 1rem 2.4rem;
        line-height: 1rem;
        border-radius: 0;
        font-weight: 600;
        text-transform: uppercase;
    }
}

.custom_sidebar_banner {
    border: 0 !important;
    padding: 0 !important;
}

.custom-banner-sidebar-container {
    background: @orange;
    color: @white;
    border-radius: 5px;
    overflow: hidden;
    .transition(all .3s ease-in-out);

    &:hover {
        box-shadow: 0 0 10px #8b8b8b;
    }

    & .custom-banner-sidebar-info-container {
        padding: 1.5rem 1rem;
        text-align: center;
        font-size: 1.4rem;

        & .btn-sidebar {
            border: 2px solid @white;
            color: @white;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 1.3rem;
            padding: .8rem 1.5rem;

            &:hover {
                background: purple;
            }
        }
    }
}

.tagcloud a {
    background: @orange;
    padding: .3rem .5rem;
    color: @white;
    border-radius: 15px;
    font-weight: 600;
    display: inline-block;
}

.widget_product_categories ul {
    list-style: none;
    padding-left: 0;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.7rem;

    & li {
        & a {
            color: @black;
        }
    }
}


.current-cat a {
    font-weight: 600;
    color: @orange  !important;
}

.woocommerce-sidebar {
    & .widget {
        border-top: 1px solid #dedede;
        padding: 1rem 0px;

        &:first-child {
            border-top: 0;
        }
    }


}

.yith-wcan-color {
    padding-left: 0;
}

.custom_contact_form_container {
    text-align: right;

    & .custom-form-control-container {
        max-width: 75%;
        margin: 0 auto;
        margin-right: 0;

        & input {
            margin-bottom: .8rem;
            background: none;
            color: white;
            border: 2px solid white;
            padding: 1.5rem 1rem;
            .placeholder(white);
        }

        & textarea {
            margin-bottom: .8rem;
            background: none;
            color: white;
            border: 2px solid white;
            padding: .7rem 1rem;
            .placeholder(white);
        }


    }

    & .btn-submit {
        background: @orange;
        padding: 1.2rem 2.5rem;
        color: @white;
    }
}

.color-rose-icon {
    width: 40px;
    height: 40px;
    margin: 0 auto;
    display: block;
}

.btn-view {
    background: @orange;
    float: right;
    color: @white;
    padding: .8rem 2rem;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;

    &:hover {
        background: purple;
        color: @white;
    }
}


.woocommerce-custom-categories {
    text-align: center;
    padding: 2rem;
    padding-top: 0;

    & a {
        position: relative;
        color: @black;
        padding: 0 .5rem;
        font-size: 1rem;
        font-weight: 700;
        text-transform: uppercase;

        &:after {
            content: ' ';
            background: @black;
            position: absolute;
            height: 20px;
            width: 3px;
            top: -1px;
            right: -3px;

        }

        &:last-child {
            &:after {
                display: none;
            }
        }

        &:hover {
            color: @orange;
        }
    }
}

.glossary-section-title {
    text-align: center;
    font-size: 3rem;
    font-family: 'Domine', serif;
    color: @darkgreen;
    margin-bottom: 2rem;
}

.glossary-terms {
    text-align: center;
    font-size: 1.6rem;

    & a {
        color: @black;
        padding: 0 .3rem;
        cursor: pointer;


        &:hover {
            color: @orange;
        }
    }
}


.table-glossary {
    margin: 4rem 0;

    & thead th {
        vertical-align: bottom;
        border: 0;
    }

    & tbody td {
        border-bottom: 1px solid #dee2e5;

    }

    & td,
    th {
        vertical-align: middle;
        width: auto !important;
    }

    & tr {

        & td {
            padding: 0 1rem;
        }

        & td:nth-child(1) {}
    }

    & h3 {
        font-size: 1rem;
        font-weight: 700;
        margin-bottom: 0;
        padding: 1rem 0;
        color: @orange;
    }

    & p {
        padding: 1rem 0;
        margin-bottom: 0;
    }
}

.loader {
    text-align: center;
    display: block;

    .ball-clip-rotate-multiple {
        position: relative;
        display: block;
        min-height: 100px;
        width: 100px;
        margin: 5rem auto;

        & > div {
            position: absolute;
            left: -20px;
            top: -20px;
            border: 2px solid @orange;
            border-bottom-color: transparent;
            border-top-color: transparent;
            border-radius: 100%;
            height: 35px;
            width: 35px;
            -webkit-animation: rotate 1s 0s ease-in-out infinite;
            animation: rotate 1s 0s ease-in-out infinite;
        }

        & > div:last-child {
            display: inline-block;
            top: -10px;
            left: -10px;
            width: 15px;
            height: 15px;
            -webkit-animation-duration: .5s;
            animation-duration: .5s;
            border-color: @orange transparent;
            -webkit-animation-direction: reverse;
            animation-direction: reverse;
        }
    }
}

@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


.box-item {
    display: inline-block;
    height: 30px;
    width: 30px;
    border: 1px solid #e0e0e0;

    &:hover {
        border: 1px solid black;
    }
}

.color-active {
    border: 1px solid black;
}

.rose-color-guide-single {
    display: block;
    width: 100%;
    clear: both;
    border: 1px solid #d6d6d6;
    padding: 3rem;
    margin: 3rem 0;
}

.rose-color-guide-single-info {
    & h2 {
        font-size: 1.2rem;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: .8rem;
    }
}

.rose-color-guide-single-image {
    display: inline-block;
    height: 180px;
    width: 180px;
    background: gainsboro;
    text-align: center;
    padding: 1rem;
    border-radius: 10px;
}
