/* Colors */
@black: #000000;
@gray3: #333333;
@gray6: #666666;
@gray9: #999999;
@grayc: #cccccc;
@grayf0: #f0f0f0;
@white: #ffffff;
@blue: #2B7BCB;
@orange: #FE5723;
@green: #a4b23a;
@darkgreen: #3d441f;

/* --------------------------------------------------------------
MEDIAQUERIES LG/MD - LAYOUTS BIGGER THAN 992px
-------------------------------------------------------------- */
@media (max-width: 1920px) {}

@media (max-width: 1680px) {}

@media (max-width: 1600px) {}

@media (max-width: 1440px) {
    .about-blockquote-section blockquote {
        padding: 4rem 10rem;
    }

    .page-img-overlayed2 .page-img-overlayed-item-2 {
        top: 40vh !important;
    }

    .page-img-overlayed2 .page-img-overlayed-item-3 {
        top: 75vh;
    }

    .about-section blockquote {
        padding: .5rem 6em;
    }

    .about-core-section .about-core-floating-section {
        top: 2vh;
        padding: 5rem 2rem;
    }
}

@media (max-width: 1366px) {
    .the-header .img-navbar-brand {
        max-height: 35px;
    }

    ol.flex-control-nav {
        right: -58vh;
    }
}

@media (max-width: 1280px) {
    ol.flex-control-nav {
        right: -57vh;
    }

    .slide-item .btn-slide {
        font-size: 1.2rem;
    }

    .home-about .home-about-item .home-about-item-content p:first-of-type {
        padding: 0 2rem;
    }

    .home-about .home-about-item .home-about-item-content a {
        padding: 1.2rem 2rem;
        font-size: 1rem;
    }

    .container-menu {
        max-width: 1170px;
    }

    .the-header .img-navbar-brand {
        max-height: 30px;
        margin-top: -15px;
        margin-left: -15px;
    }

    .about-section blockquote {
        padding: .5rem 4em;
        font-size: 2rem;
    }

    .about-core-section .about-core-floating-section {
        top: 3vh;
        padding: 2rem 2rem;
    }

    .about-core-section .about-core-floating-section .core-values-icon .about-core-values-content {
        font-size: .9rem;
    }
}

@media (max-width: 1170px) {
    .the-header .navbar-brand {
        margin-left: 0;
        margin-right: 20px;
    }

    .the-header .img-navbar-brand {
        max-height: 30px;
        margin-top: -15px;
        margin-left: -30px;
    }

    .the-header .navbar .nav-link {
        font-size: .7rem;
        padding: .3rem;
    }

    .container-menu {
        max-width: 930px;
    }

    .slide-item .slide-content {
        font-size: 2.5rem;
    }

    .slide-item .btn-slide {
        font-size: 1rem;
        padding: 1rem 3rem;
    }

    .home-about .home-about-item .home-about-item-content h2 {
        font-size: 1.4rem;
        margin-top: 2rem;
    }

    .home-about .home-about-item .home-about-item-content {
        font-size: 1rem;
    }

    .home-about .home-about-item .home-about-item-content p:first-of-type {
        padding: 0 1rem;
    }

    .home-rose-special-title h2 {
        font-size: 2rem;
    }

    .home-rose-special-item {
        padding: 0 .5rem;
    }

    .home-color-guide a {
        padding: 1rem 2rem;
        font-size: 1rem;
    }

    .home-featured-news .featured-news-item-container {
        margin-bottom: 4rem;
    }

    .home-featured-news .featured-news-item-container .featured-news-item-wrapper h5 {
        margin-bottom: 1rem;
    }

    .home-featured-news .featured-news-item-container .featured-news-item-wrapper h3 {
        font-size: 1.8rem;
        margin-bottom: 1rem;
    }

    .home-featured-news .featured-news-item-container .featured-news-item-wrapper {
        padding: 2rem 0;
    }

    .home-featured-news .featured-news-item-container .featured-news-item-wrapper .featured-news-item-image .img-featured-news {
        bottom: -3.5rem;
    }

    .home-featured-news .featured-news-item-container .featured-news-item-wrapper .featured-news-item-content {
        font-size: .9rem;
        line-height: 1.5rem;
        font-weight: 400;
    }

    .home-featured-in h2 {
        font-size: 2rem;
        margin-bottom: 1.5rem;
    }

    .footer-item .footer-social .fa {
        padding: 0 .5rem;
    }

    .footer-item h3 {
        font-size: 1.3rem;
    }

    .home-featured-news h2 {
        font-size: 2rem;
        margin-bottom: 2.5rem;
        margin-top: 1rem;
    }

    .footer-height-controller {
        min-height: 70vh;
    }

    .about-blockquote-section blockquote {
        padding: 4rem 8rem;
        font-size: 1.5rem;
        line-height: 3rem;
    }

    .product-filter-item-content {
        padding: 2rem;
        font-size: 1.5rem;
    }

    .page-slider-section h2 {
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }

    .product-slider-item h3 {
        font-size: 1rem;
        margin: 1rem;
    }

    .page-banner .page-banner-title h1,
    .page-banner .page-banner-title h2 {
        font-size: 1.8rem;
    }

    .about-section blockquote {
        padding: .5rem 4em;
        font-size: 1.8rem;
    }

    .about-core-section .about-core-floating-section {
        top: 3vh;
        padding: .5rem 1rem;
    }

    .about-core-section .about-core-floating-section .core-values-icon .about-core-values-content {
        font-size: .8rem;
        line-height: 1.7rem;
    }
}

@media (max-width: 1024px) and (max-height: 1440px) {
    .home-color-guide {
        min-height: 50vh;
    }

    .home-featured-news {
        min-height: 50vh;
    }

    .slide-row {
        min-height: 50vh !important;
    }

    .shop-category-item .shop-category-item-wrapper {
        min-height: 20vh;
    }

    .shop-category-item .shop-category-item-wrapper .btn-shop-category {
        padding: 1rem 3rem;
        min-width: 13rem;
        font-size: 1rem;
    }
}

@media (max-width: 1024px) {
    .the-header .img-navbar-brand {
        margin-left: -10px;
    }

    .slide-row {
        min-height: 80vh !important;
    }

    .shop-category-item .shop-category-item-wrapper {
        min-height: 35vh;
    }
}

@media (max-width: 992px) {}

/* --------------------------------------------------------------
MEDIAQUERIES SM - LAYOUTS BIGGER THAN 768px
-------------------------------------------------------------- */
@media (max-width: 991px) {
    ol.flex-control-nav {
        position: unset;
    }

    .about-section blockquote {
        padding: .5rem 2em;
        font-size: 1.6rem;
    }

    .about-core-section .about-core-floating-section {
        top: 0vh;
    }

    .container-menu {
        max-width: 100%;
    }

    .the-header .navbar {
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .the-header .navbar-toggler {
        margin-right: 7%;
        margin-left: auto;
    }

    .navbar-nav {
        margin-left: 2rem;
    }

    .the-header .navbar .nav-link {
        font-size: .8rem;
        padding: 0.7rem 0;
    }

    .featured-news-item-image {
        margin-bottom: 1rem;
    }

    .the-header .navbar-brand {
        margin-left: 8%;
        margin-right: auto;
    }

    .slide-item .slide-content {
        font-size: 2rem;
    }

    .home-rose-special-item {
        font-size: .8rem;
    }

    .home-rose-special-item-last-1,
    .home-rose-special-item-last-3 {
        margin-top: -5rem;
        margin-bottom: 1rem;
    }

    .home-color-guide h2 {
        font-size: 2rem;
    }

    .home-rose-special-title h2 {
        font-size: 1.5rem;
        line-height: 2.5rem;
    }

    .custom-nav-social {
        display: none;
    }

    .slide-row {
        min-height: 45vh !important;
    }

    .home-about .home-about-item .home-about-item-content a {
        padding: .8rem;
        font-size: .9rem;
        width: 100%;
        min-width: unset;
        max-width: 100%;
        display: block;
    }

    .home-about .home-about-item .home-about-item-content h2 {
        font-size: 1.2rem;
    }

    .home-about .home-about-item .home-about-item-content p:first-of-type {
        padding: 0 .5rem;
    }

    .home-about .home-about-item .home-about-item-content {
        font-size: .9rem;
        line-height: 1.6rem;
    }

    .shop-category-item .shop-category-item-wrapper {
        min-height: 15vh;
    }

    .home-featured-news .featured-news-item-container .featured-news-item-wrapper .featured-news-item-image .img-featured-news {
        position: unset;
        bottom: 0;
    }

    .home-rose-special-rose img {
        max-height: 300px;
        display: block;
        margin: 0 auto;
    }

    .home-rose-special-item-last-1,
    .home-rose-special-item-last-3 {
        margin-top: 0;
    }

    .footer-item {
        text-align: center;
    }

    .about-blockquote-section blockquote {
        padding: 3rem 4rem;
        font-size: 1.2rem;
        line-height: 2.5rem;
    }

    page-banner .page-banner-title {
        top: 35%;
    }

    .about-page-title-section h1 {
        font-size: 1.8rem;
        margin: 0 5rem;
    }

    .product-filter-item-content {
        padding: 2rem 0;
    }

    .about-text-section h1,
    .about-text-section h2 {
        font-size: 1.5rem;
    }

    .about-text-section {
        font-size: .9rem;
        line-height: 1.9rem;
    }

    .about-page-title-section h2 {
        font-size: 2.2rem;
        line-height: 3rem;
    }

    .custom_contact_form_container {
        text-align: center;
    }

    .custom_contact_form_container .custom-form-control-container {
        max-width: 75%;
        margin: 0 auto;
        margin-right: auto;
    }

    .single-main-container img {
        margin: 0 auto;
        display: block;
    }


    .the-footer {
        text-shadow: 0 0 6px black;
    }

    .page-img-overlayed2 {
        position: unset;
        margin-bottom: 3rem;
    }
}

@media (max-width: 800px) {}

@media (max-width: 768px) {
    .about-section blockquote {
        padding: .5rem 1em;
        font-size: 1.4rem;
        line-height: 3rem;
    }

    .about-core-section .about-core-floating-section {
        top: -1vh;
    }

    .slide-item .slide-content {
        font-size: 1.6rem;
        line-height: 2.4rem;
    }

    .slide-item .btn-slide {
        font-size: .9rem;
    }

    .home-about-item {
        margin-bottom: 2rem;
    }

    .home-rose-special-title {
        text-align: center;
    }

    .home-rose-special-item-last-1,
    .home-rose-special-item-last-3 {
        margin-top: 0;
    }

    .home-about .home-about-item .home-about-item-img img {
        max-width: 100%;
    }

    .shop-category-item .shop-category-item-wrapper .btn-shop-category {
        padding: 1.3rem 3rem;
        min-width: unset;
    }

    .shop-category-item .shop-category-item-wrapper {
        min-height: 20vh;
    }

    .home-featured-news .btn-news {
        min-width: auto;
        width: 80%;
    }

    .home-color-guide {
        min-height: 70vh;
    }

    .navbar-nav {
        padding: 0 1.8rem;
    }

    .footer-copyright {
        text-align: center;
    }

    .about-blockquote-section h1,
    .about-blockquote-section h2 {
        font-size: 1.8rem;
        padding: 0;
    }

    .about-blockquote-section blockquote {
        padding: 3rem 4rem;
        font-size: 1.2rem;
        line-height: 2.5rem;
        margin: 2rem 0;
        margin-bottom: 0;
    }

    .page-section {
        padding: 1.5rem 0;
    }

    .about-page-title-section h2 {
        font-size: 1.7rem;
        margin: 0;
        margin-bottom: 2.5rem;
    }

    .about-page-title-section h1 {
        font-size: 1.8rem;
        margin: 0;
        margin-bottom: 2.5rem;
    }

    .page-banner .page-banner-title {
        top: 38%;
    }

    .page-banner .page-banner-title h1,
    .page-banner .page-banner-title h2 {
        font-size: 1.6rem;
    }

    .product-filter-item-img {
        display: none;
    }

    .product-filter-item {
        margin-bottom: 2rem;
    }

    .wp-post-image {
        width: 100%;
    }

    .single-breadcrumb-container {
        text-align: center;
        font-size: .8rem;
    }

    .product-slider .owl-prev {
        left: -35px;
    }

    .product-slider .owl-next {
        right: -35px;
    }
}

/* --------------------------------------------------------------
MEDIAQUERIES XS - LAYOUTS LESS THAN 768px
-------------------------------------------------------------- */
@media (max-width: 600px) {
    .rose-color-guide-single-image {
        height: 120px;
        width: 120px;
    }

    .about-section blockquote {
        padding: .5rem;
        font-size: 1.2rem;
        line-height: 2.5rem;
    }

    .about-core-section {
        position: relative;
        padding: 0;
    }

    .about-core-section .about-core-floating-section {
        position: unset;
        padding: 0;
        text-align: center;
        background: none;
    }

    .about-core-section .about-core-floating-section .core-values-icon {
        background: @orange;
        margin-bottom: 1rem;
        padding: 2rem;
    }

    .about-section blockquote {
        padding: .5rem;
        font-size: 1.1rem;
        line-height: 2.5rem;
    }

}

@media (max-width: 533px) {
    .shop-category-item .shop-category-item-wrapper {
        min-height: 25vh;
    }

    .home-about {
        padding: 2rem 0;
    }

    .about-icon h3 {
        font-size: .8rem;
    }

    .page-banner .page-banner-title {
        top: 45%;
    }

    .product-slider .owl-next {
        position: unset;
        top: unset;
        right: unset;
    }

    .product-slider .owl-prev {
        position: unset;
        top: unset;
        right: unset;
    }

    .page-banner {
        overflow: hidden;
        max-width: 96.5%;
    }

    .page-banner img {
        width: auto !important;
        height: 300px !important;
    }

    .rose-color-guide-single-image {
        display: block;
        margin: 0 auto;
        margin-bottom: 2rem;
    }
}

@media (max-width: 414px) {
    .slide-item .slide-content {
        font-size: 1.2rem;
        line-height: 1.8rem;
    }

    .slide-item .btn-slide {
        margin-top: 1.5rem;
    }

    .home-about .home-about-item .home-about-item-img img {
        max-width: 100%;
    }

    .shop-category-item .shop-category-item-wrapper .btn-shop-category {
        padding: .9rem 3rem;
    }

    .home-featured-news .featured-news-item-container .featured-news-item-wrapper h3 {
        font-size: 1.4rem;
        line-height: 2rem;
        margin-bottom: 1rem;
    }

    .about-page-title-section h1 {
        font-size: 1.4rem;
        line-height: 2.2rem;
        margin: 0;
        margin-bottom: 2rem;
    }

    .about-page-title-section h2 {
        font-size: 1.4rem;
        margin: 0;
        margin-bottom: 4rem;
        line-height: 2.2rem;
    }
}

@media (max-width: 375px) {
    .the-header .img-navbar-brand {
        max-height: 20px;
        margin-top: -5px;
    }
}

@media (max-width: 360px) {
    .the-header .navbar-brand {
        margin-right: 25%;
    }

    .shop-category-item .shop-category-item-wrapper .btn-shop-category {
        padding: .7rem 3rem;
        font-size: .8rem;
    }
}

@media (max-width: 320px) {
    .the-header .navbar-brand {
        margin-left: 2rem;
        margin-right: 0 !important;
    }
}

@media (max-width: 240px) {}
